---
interface Props{
    title: string;
    href: string;
}

const { title, href } = Astro.props;

---

<li>
    <a href={href} 
    class="block py-2 px-3 text-white md:text-white md:p-0 " aria-current="page">
    {title}
    </a>
</li>