---
import { Image } from "astro:assets";
---
<aside>
<ul class="hidden md:flex gap-4 invert">
        <li class="w-10 h-10 rounded-full border-2 border-dotted text-cyan-500 flex items-center justify-center">
          <a href="https://github.com/Perseo-2025">
            <Image
              width="64"
              height="64"
              alt="Logo"
              src="/github.svg"
              class="size-4 bg-white"
            />
          </a>
        </li>
        <li class="w-10 h-10 rounded-full border-2 border-dotted text-cyan-500 flex items-center justify-center">
            <a href="https://www.linkedin.com/in/rey-perseo-cardenas-sanchez-4a7138221/">
            <Image
              width="64"
              height="64"
              alt="Logo"
              src="/linkedin.svg"
              class="size-4"
            />
          </a>
        </li>
        <li class="w-10 h-10 rounded-full border-2 border-dotted text-cyan-500 flex items-center justify-center">
            <a href="https://www.instagram.com/perseocs5/">
            <Image
              width="64"
              height="64"
              alt="Logo"
              src="/instagram.svg"
              class="size-4"
            />
          </a>
        </li>
      </ul>
</aside>